################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab1-Matrices/Lab1-Matrices.VC.VC.opendb
